:root {
	--border-radius: 7px;
	--box-shadow: 2px 2px 10px;
	--color: #060e40;
	--color-accent: #118bee0b;
	--color-bg: #fff;
	--color-bg-secondary: #e9e9e9;
	--color-secondary: #38d990;
	--color-secondary-accent: #920de90b;
	--color-shadow: #f4f4f4;
	--color-text: #000;
	--color-text-secondary: #999;
	--hover-brightness: 1.2;
	--justify-important: center;
	--justify-normal: left;
	--line-height: 150%;
	--width-card: 285px;
	--width-card-medium: 460px;
	--width-card-wide: 800px;
	--width-content: 1440px;
	--color-error: #bd191d;
}

@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Baloo 2 Regular'), local('Baloo2-Regular'), url('assets/Baloo2-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Baloo 2 Medium'), local('Baloo2-Medium'), url('assets/Baloo2-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Baloo 2 SemiBold'), local('Baloo2-SemiBold'), url('assets/Baloo2-SemiBold.ttf') format('truetype');
}

html, body {
	font-family: 'Baloo 2', cursive;
	padding: 0;
}

nav {
	margin-bottom: 16px;
}

.logo {
	display: inherit;
}

.logo img {
	margin: 0;
	padding-top: 14px;
	padding-left: 14px;
	height: 111px;
}

.logo-text {
	padding-top: 31px;
	padding-left: 21px;
	font-size: 42px;
	font-weight: 500;
	line-height: 66px;
	color: #232B59;
}

@media only screen and (max-width: 600px) {
	.logo {
		display: block;
	}
	.logo-text {
		display: flex;
		padding-top: 0;
	}
	nav li {
		display: flex !important;
		/* text-align: center; */
	}
}

.logo-nu {
	color: #41497A;
}

nav a {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 28px;
	color: #060E40;
	text-decoration: underline;
}

nav a.current {
	color: #BD191D;
}

header h1 {
	margin: 0;
	font-size: 42px;
	font-weight: 500;
	line-height: 66px;
	color: #060E40;
}

header p {
	margin: 0;
}

header iframe {
	margin-top: 40px;
}

.uitleg {
	max-width: 621px;
	margin: 0 auto;
}

.wanneer h2, .faq h2 {
	font-size: 42px;
	font-weight: 500;
	line-height: 66px;
	color: #060E40;
	clear: both;
}

.wanneer p {
	font-size: 14px;
	line-height: 22px;
	color: #232B59;
	text-align: center;
	max-width: 621px;
	margin: auto;
}

.faq {
	max-width: 621px;
	margin: auto;
	text-align: center;
	padding: 0 16px;
}

.faq h4 {
	font-size: 25px;
	line-height: 39px;
	font-weight: 400;
	color: #AA6B15;
}

.faq p {
	font-size: 14px;
	line-height: 22px;
	color: #232B59;
}

.faq a {
	color: #BD191D;
	text-decoration: underline;
}

.faq hr {
	max-width: 437px;
	margin: auto;
	color: #979797;
}

.privacy {
	max-width: 621px;
	margin: 0 auto;
}

.privacy header {
	text-align: left;
}

.header-wide {
	background-color: #f1f0ef;
}

.wanneer-wide {
	background-color: #D3CAC0;
}

.faq-wide {
	background-color: #fff;
}

.privacy-wide {
	background-color: #fff;
}

.footer-wide {
	color: #fff;
	background-color: #060E40;
}

footer {
	max-width: 100%;
	padding-top: 100px;
}
