

main {
    max-width: unset;
    padding: 12px;
}

.meer_info {
    clear: both;
    text-align: right;
}

aside, form {
    height: 268px;
    overflow-y: auto;
    background-color: #fff;
    margin: 0px;
    padding: 24px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
}

form {
    min-width: unset;
    max-width: 500px;
    width: 100%;
}
form table {
    border: 0;
}
form h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    color: #060E40;
}
form p {
    font-size: 15px;
    line-height: 24px;
    color: #060E40;
}
form td {
    padding-top: 0;
    vertical-align: top;
}
form input {
    height: 25.2px;
    float: left;
    margin-right: 16px;
}
form button {
    margin: 0;
    padding: 0;
    width: 152px;
    height: 40px;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
}

.form_submit_button {
    margin-top: 8px;
}

.form_error {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    color: #060E40;
}

.places_list a i {
    margin-right: 12px;
    margin-top: 8px;
    padding: 8px;
}

a {
    font-size: 15px;
    line-height: 24px;
    color: #BD191D;
    text-decoration: underline;
}
