<main [style.background-color]="customBackgroundColor">
  <section>
    <aside *ngIf="loading">
      Loading
    </aside>

    <form *ngIf="!loading && phase=='enter_form'" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <h3>Wanneer kan ik naar de winkel?</h3>
      <p>Voer je postcode en huisnummer in.</p>
      <!-- <label for="input_zipcode">Postcode:</label> -->
      <input type="text" id="input_zipcode" name="input_zipcode" formControlName="zipcode" size="6"
        placeholder="Postcode">
      <!-- <label for="input_housenumber">Huisnummer:</label> -->
      <input type="text" id="input_housenumber" name="input_housenumber" formControlName="housenumber" size="2"
        placeholder="Nr">
      <button type="submit" class="form_submit_button">Verder ></button>
      <br>
      <span *ngIf="formError" class="form_error">
        {{formError}}
        <br>
      </span>
      <div class="meer_info">
        <a target="_blank" href="https://geenrij.nu">Meer informatie</a>
      </div>
    </form>

    <aside *ngIf="!loading && phase=='choose_place'">
      <h3>Kies een supermarkt:</h3>
      <span class="places_list">
        <span *ngFor="let place of places">
          <a href="#" (click)="onSelectPlace(place.id)">
            <i>{{place.name}} {{place.streetname}}</i>
          </a>
        </span>
      </span>
      <br>
      <div class="meer_info">
        <a target="_blank" href="https://geenrij.nu">Meer informatie</a>
      </div>
    </aside>


    <aside *ngIf="!loading && phase=='show_moment'">
      <span *ngIf="momentError">
        {{momentError}}
        <br>
      </span>
      <span *ngIf="!momentError">
        <h3>Ga naar de supermarkt:</h3>
        <span *ngFor="let momentText of momentTexts; let first = first">
          <h2 *ngIf="first">{{momentText}}</h2>
          <h4 *ngIf="!first">{{momentText}}</h4>
        </span>
      </span>
      <span class="meer_info" *ngIf="momentVolledigeOpeningstijdenURL">
        <a target="_blank" [href]="momentVolledigeOpeningstijdenURL">Volledige openingstijden</a>
        <br>
      </span>
      <div class="meer_info">
        <a target="_blank" href="https://geenrij.nu">Meer informatie</a>
      </div>
    </aside>

  </section>
</main>
