/* You can add global styles to this file, and also import other style files */

:root {
  --border-radius: 7px;
  --box-shadow: 2px 2px 10px;
  --color: #060e40;
  --color-accent: #118bee0b;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-secondary: #38d990;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-text: #000;
  --color-text-secondary: #999;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 150%;
  --width-card: 500px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;
  --color-error: #bd191d;
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo 2 Regular'), local('Baloo2-Regular'), url('assets/Baloo2-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Baloo 2 Medium'), local('Baloo2-Medium'), url('assets/Baloo2-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Baloo 2 SemiBold'), local('Baloo2-SemiBold'), url('assets/Baloo2-SemiBold.ttf') format('truetype');
}

html, body {
  font-family: 'Baloo 2', cursive;
  padding: 0;
}
